---
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  const posts = Object.entries(
    import.meta.glob("../../content/blog/*.md", { eager: true })
  );

  return posts.map(([path, post]) => ({
    params: {
      slug: path.split("/").pop().replace(".md", ""),
    },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.frontmatter.title}>
  <div class="wrap">
    <a class="back" href="/blog">← Back</a>

    <h1>{post.frontmatter.title}</h1>

    <div class="content">
      <post.Content />
    </div>
  </div>

  <script is:inline async src="https://www.tiktok.com/embed.js"></script>
</Layout>