---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Classes">
  <h1>Classes</h1>

  <p>
    Artist, writer, and developer based in Arlington, Virginia.
  </p>
</PageLayout>
